# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\TS\微信推送\2-微信公众号推送源码(自动)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
